<%= form_for [@tenant, @team], :html => { :class => "form-horizontal team" } do |f| %>

    <% if @team.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @team.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label"><%= f.label :name %></label>
    <div class="col-sm-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label"><%= f.label :description %></label>
    <div class="col-sm-10">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Assign Manager</label>
    <div class="col-sm-10">
      <%= f.select(:manager_id, User.all.collect { |user| [ user.member.first_name , user.id ]}, {:include_blank => "None"}, {:class => 'custom-select'}) %>
    </div>
  </div>



  <div class="form-group row">
    <div class="col-sm-10 offset-sm-2 mt-4">
      <%= f.hidden_field :tenant_id, value: params[:tenant_id], :class => 'form-control' %>
      <%= f.submit nil, :class => 'btn btn-primary' %>
    </div>
  </div>

<% end %>
