<div class="navbar bg-white breadcrumb-bar">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to current_tenant.name, dashboard_path %>
      </li>
      <li class="breadcrumb-item">
        <a href="<%= dashboard_path %>"><%= User.find(current_user.id).member.first_name %> <%= User.find(current_user.id).member.last_name %>'s teams</a>
      </li>
      <li class="breadcrumb-item">
        <%= link_to 'Teams', tenant_teams_path(@tenant) %>
      </li>
      <li class="breadcrumb-item active" aria-current="page"><%= @team.name %></li>
    </ol>
  </nav>

  <div class="dropdown">
    <button class="btn btn-round" role="button" data-toggle="dropdown" aria-expanded="false">
      <i class="material-icons">settings</i>
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <%= link_to 'Edit', edit_tenant_team_path(@tenant, @team), class: 'dropdown-item' %>
      <%= link_to 'Destroy', tenant_team_path(@tenant, @team), method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown-item text-danger" %>
    </div>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <h1><%= @team.name %></h1>
    <p>Manager: <%= User.find(@team.manager_id).member.first_name if @team.manager_id %></p>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-11 col-xl-10">
      <div class="text-center p-4">
        <p class="lead"><%= @team.description %></p>

      </div>

      <ul class="nav nav-tabs nav-fill">

        <li class="nav-item">
          <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Passwords</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Clients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Users</a>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

          <div class="card-list">
            <div class="card-list">
              <div class="card-list-head">
                <h6>Passwords</h6>

                <%= link_to 'Add', new_tenant_password_path %>
              </div>
              <% @passwords.each do |password| %>
                <div class="card card-task">
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <div class="card-body">
                    <div class="card-title">
                      <a href="<%= tenant_password_path(@tenant, password) %>">
                        <h6 data-filter-by="text"><%= password.name %></h6>
                      </a>
                      <span class="text-small">Updated
                        <%= password.updated_at %></span>
                    </div>
                    <div class="card-meta">
                      <ul class="avatars">
                        <li>
                          <a href="nav-side-project.html#" data-toggle="tooltip" title="Kenny">
                            <img alt="Kenny Tran" class="avatar" src="<%= asset_path('avatar-male-6.jpg') %>">
                          </a>
                        </li>
                      </ul>
                      <div class="d-flex align-items-center">
                        <%= link_to 'View', tenant_password_path(@tenant, password), class: "btn btn-primary" %>
                      </div>
                      <div class="dropdown card-options">
                        <button class="btn-options" type="button" id="task-dropdown-button-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Options
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                          <%= link_to 'Edit', edit_tenant_password_path(@tenant, password), class: 'dropdown-item' %>

                          <%= link_to 'Destroy', tenant_client_path(@tenant, password), method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown-item text-danger" %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>

        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
          <div class="card-list">
            <div class="card-list-head">
              <h6>Clients</h6>
              <div class="dropdown">

                <button class="btn-options" type="button" id="cardlist-dropdown-button-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">Add New</i>
                </button>

                <div class="dropdown-menu dropdown-menu-right">

                  <a class="dropdown-item text-danger" href="nav-side-project.html#">Archive</a>
                </div>
              </div>
            </div>
            <% @clients.each do |client| %>
              <div class="card card-task">
                <div class="progress">
                  <div class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="card-body">
                  <div class="card-title">
                    <a href="nav-side-project.html#">
                      <h6 data-filter-by="text"><%= client.name %></h6>
                    </a>
                    <span class="text-small">Updated
                      <%= client.updated_at %></span>
                  </div>
                  <div class="card-meta">
                    <ul class="avatars">
                      <li>
                        <a href="nav-side-project.html#" data-toggle="tooltip" title="Kenny">
                          <img alt="Kenny Tran" class="avatar" src="<%= asset_path('avatar-male-6.jpg') %>">
                        </a>
                      </li>
                    </ul>
                    <div class="d-flex align-items-center">
                      <%= link_to 'View', tenant_client_path(id: client, tenant_id: client.tenant), class: "btn btn-primary" %>
                    </div>
                    <div class="dropdown card-options">
                      <button class="btn-options" type="button" id="task-dropdown-button-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Options
                      </button>
                      <div class="dropdown-menu dropdown-menu-right">
                        <%= link_to 'Edit', edit_tenant_client_path(@tenant, client), class: 'dropdown-item' %>

                        <%= link_to 'Destroy', tenant_client_path(@tenant, client), method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown-item text-danger" %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>

        </div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
          <% @users.each do |user| %>
            <div class="form-group-users filter-list-1540589237272">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="user-manage-1" checked="">
                <label class="custom-control-label" for="user-manage-1">
                  <div class="d-flex align-items-center">
                    <img alt="Claire Connors" src="<%= asset_path('avatar-female-1.jpg') %>" class="avatar mr-2">
                    <span class="h6 mb-0 SPAN-filter-by-text" data-filter-by="text"><%= user.email %></span>
                  </div>
                </label>
              </div>
            <% end %>
          </div>
        </div>

      </div>




















<div class="container">
  <%- model_class = Team -%>
  <div class="page-header">
    <h1><%= @team.name %></h1>
  </div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @team.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:image_logo) %>:</strong></dt>
  <dd><%= @team.image_logo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:image_hero) %>:</strong></dt>
  <dd><%= @team.image_hero %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tenant_id) %>:</strong></dt>
  <dd><%= @team.tenant_id %></dd>
</dl>



<%= link_to 'edit team users', users_tenant_team_path(@team.id, tenant_id: @tenant.id), class: "btn btn-primary"  %>

<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_tenant_team_path(team: @team, tenant: @team.tenant_id), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              tenant_team_path(team: @team, tenant: @team.tenant_id),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>

</div>
