<div class="jumbotron">
  <div class="container">
    <h1>FAQ</h1>
  </div>
</div>
<div class="container">
<p id="notice"><%= notice %></p>
    <% @faqs.each do |faq| %>
    <div class="my-4 py-4">
      <h2><a href="<%= faq_path(faq) %>"><%= faq.title %></a></h2>
      <p class="lead"><%= faq.excerpt %></p>
      <%= link_to 'Show', faq, class: "btn btn-primary" %>
      <% if current_user && current_user.is_admin? %>
        <%= link_to 'Edit', edit_faq_path(faq), class: "btn btn btn-outline-dark" %>
        <%= link_to 'Destroy', faq, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-dark" %>
      <% end %>
    </div>
    <% end %>
<br>

<% if current_user && current_user.is_admin? %>
  <%= link_to 'New Faq', new_faq_path, class: "btn btn-outline-dark" %>
<% end %>
</div>

<%= render '/layouts/footer' %>
