<div class="jumbotron">
  <div class="container">
    <h1>Blog</h1>
  </div>
</div>

<div class="container">
<p id="notice"><%= notice %></p>
    <% @blogs.each do |blog| %>
    <div class="mb-3">
      <hr>
      <h2><a href="<%= blog_path(blog) %>"><%= blog.title %></a></h2>
      <p class="lead"><%= blog.excerpt %></p>
      <%= link_to 'Show', blog, class: "btn btn-primary" %>
      <% if current_user && current_user.is_admin? %>
        <%= link_to 'Edit', edit_blog_path(blog), class: "btn btn btn-outline-dark" %>
        <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-dark" %>
      <% end %>
    </div>
    <% end %>
<br>

<% if current_user && current_user.is_admin? %>
  <%= link_to 'New blog', new_blog_path, class: "btn btn-outline-dark" %>
<% end %>
</div>

<%= render '/layouts/footer' %>
