<div class="navbar bg-white breadcrumb-bar">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Blog</li>
    </ol>
  </nav>

  <div class="dropdown">
    <% if current_user && current_user.is_admin? %>
      <%= link_to 'Add new blog post', new_blog_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<div class="jumbotron">
  <div class="container">
    <h1>Teams</h1>
    <p class="lead">These are all of the teams and clients that you have access to</p>
  </div>
</div>

<div class="container">
<p id="notice"><%= notice %></p>
    <% @blogs.each do |blog| %>
    <div class="my-4 py-4">
      <h2><a href="<%= blog_path(blog) %>"><%= blog.title %></a></h2>
      <p class="lead"><%= blog.excerpt %></p>
      <%= link_to 'Show', blog, class: "btn btn-primary" %>
      <% if current_user && current_user.is_admin? %>
        <%= link_to 'Edit', edit_blog_path(blog), class: "btn btn btn-outline-dark" %>
        <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-dark" %>
      <% end %>
    </div>
    <% end %>
<br>


</div>

<%= render '/layouts/footer' %>
