
<%= form_for [@tenant, client], :html => { :class => "form-horizontal team" } do |form| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <p class="lead"><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</p>

      <ul>
      <% client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label"><%= form.label :name %></label>
    <div class="col-sm-10">
      <%= form.text_field :name, id: :client_name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label"><%= form.label :description %></label>
    <div class="col-sm-10">
      <%= form.text_area :description, id: :description, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Assign Manager</label>
    <div class="col-sm-10">
      <%= form.select(:manager_id, User.all.collect { |team| [ team.member.first_name , team.id ]}, {:include_blank => "None"}, {:class => 'custom-select'}) %>
    </div>
  </div>

  <div class="form-group row">
    <p class="col-sm-2 col-form-label">Teams</p>
    <div class="col">
      <%= form.collection_check_boxes :team_ids, Team.all, :id, :name do |cb| %>
        <div class="form-check form-check-inline">
          <div class="input-checkbox">
            <%= cb.check_box  %>
            <label><%= cb.text %></label>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <%= form.hidden_field :tenant_id, value: params[:tenant_id], :class => 'form-control' %>

  <div class="form-group row">
    <div class="col-sm-10 offset-sm-2 mt-4">
      <%= form.submit nil, class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
