<div class="navbar bg-white breadcrumb-bar">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to current_tenant.name, dashboard_path %>
      </li>
      <li class="breadcrumb-item">
        <%= link_to 'Clients', tenant_clients_path %>
      </li>
      <li class="breadcrumb-item active" aria-current="page"><%= @client.name %></li>
    </ol>
  </nav>
</div>
<div class="jumbotron">
  <div class="container">
    <h6>Editing Client</h6>
    <h1><%= @client.name %></h1>
    <p><%= link_to 'Show', tenant_client_path(@client) %></p>
  </div>
</div>
<div class="container">
  <%= render 'form', client: @client %>


</div>
