<div class="navbar bg-white breadcrumb-bar">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to current_tenant.name, dashboard_path %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Clients</li>
    </ol>
  </nav>

  <div class="dropdown">
    <button class="btn btn-round" role="button" data-toggle="dropdown" aria-expanded="false">
      <i class="material-icons">settings</i>
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#team-manage-modal">Edit Team</a>
      <a class="dropdown-item" href="#">Share</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item text-danger" href="#">Leave</a>
    </div>
  </div>
</div>
<div class="jumbotron">
  <div class="container">
    <h1>Clients</h1>
  </div>
</div>
<div class="container">
  <div class="content-list-body">
      <div class="card-list">


<% @clients.each do |client| %>
  <div class="card-list-body">
    <div class="card card-task">
      <div class="progress">
        <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <div class="card-body">
        <div class="card-title">
          <a href="nav-side-project.html#">
            <h6 data-filter-by="text" class="H6-filter-by-text"><%= client.name %></h6>
          </a>
          <span class="text-small"><%= client.description %></span>
        </div>
        <div class="card-meta">
          <ul class="avatars">
            <li>
              <a href="nav-side-project.html#" data-toggle="tooltip" title="Kenny">
                <img alt="Kenny Tran" class="avatar" src="<%= asset_path('avatar-male-6.jpg') %>">
              </a>
            </li>
          </ul>
          <div class="d-flex align-items-center">
            <%= link_to 'View', tenant_client_path(id: client.id, tenant_id: client.tenant_id), class: "btn btn-primary" %>
          </div>
          <div class="dropdown card-options">
              <button class="btn-options" type="button" id="task-dropdown-button-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Options
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                  <%= link_to 'Edit', edit_tenant_client_path(@tenant, client), class: 'dropdown-item' %>

                  <%= link_to 'Destroy', tenant_client_path(@tenant, client), method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown-item text-danger" %>
              </div>
          </div>
        </div>
    </div>
  </div>
<% end %>

      </div>


      <!--end of content list body-->
  </div>


<br>

<%= link_to 'New Client', new_tenant_client_path, class: "btn btn-primary" %>



</div>
