<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @client.description %>
</p>

<p>
  <strong>Tenant:</strong>
  <%= @client.tenant %>
</p>

<%= link_to 'Edit', edit_tenant_client_path(@client) %> |
<%= link_to 'Back', tenant_clients_path %>
