
<%= form_with(model: password, local: true) do |form| %>
  <% if password.errors.any? %>
    <div id="error_explanation">
      <p><%= pluralize(password.errors.count, "error") %> prohibited this password from being saved:</p>

      <ul>
      <% password.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :password_name %>
  </div>

  <div class="field">
    <%= form.label :key %>
    <%= form.text_field :key, id: :password_key %>
  </div>

  <%= form.hidden_field :tenant_id, value: @tenant.id %>


    <h4>Assign to Team</h4>
    <%= form.select(:team_id, Team.all.collect { |team| [ team.name , team.id ]}, {:include_blank => "None"}, {:class => 'custom-select'}) %>

    <h4>Assign to Client</h4>
    <%= form.select(:manager_id, Client.all.collect { |client| [ client.name , client.id ]}, {:include_blank => "None"}, {:class => 'custom-select'}) %>

  <div class="actions">
    <%= form.submit %>
  </div>


<div class="row">
  <div class="col">
    <table>
      <thead>
        <tr>
          <th>Team</th>
          <td>Access</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Team Name</td>
          <td><input type="checkbox" name="" value=""></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<% end %>
