<div class="navbar bg-white breadcrumb-bar">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to current_tenant.name, dashboard_path %>
      </li>
      <li class="breadcrumb-item">
        <%= link_to 'Passwords', passwords_path %>
      </li>
      <li class="breadcrumb-item active" aria-current="page"><%= @password.name %></li>
    </ol>
  </nav>
</div>
<div class="jumbotron">
  <div class="container">
    <h1>Editing Password</h1>
    <p><%= link_to 'Show', @password %></p>
  </div>
</div>
<div class="container">
  <%= render 'form', password: @password %>


</div>
