<div class="breadcrumb-bar navbar bg-white sticky-top">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/"><%= current_tenant.name %></a>
      </li>
      <li class="breadcrumb-item">
        <a href="<%= tenant_member_path(@tenant, current_user) %>"><%= User.find(current_user.id).member.first_name %>
          <%= User.find(current_user.id).member.last_name %></a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Passwords</li>
    </ol>
  </nav>
  <form class="col-md-auto">
    <div class="input-group input-group-round">
      <input type="search" class="form-control filter-list-input" placeholder="Search" aria-label="Filter Projects" aria-describedby="filter-projects">
    </div>
  </form>
</div>

<div class="jumbotron">
  <div class="container">
    <h1>Passwords</h1>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-9 col-lg-10">
      <div class="content-list-body">
        <div class="card-list">
          <div class="card-list-head">
            <h6>My Passwords</h6>
            <div class="dropdown">Passwords not shared</div>
          </div>
          <div class="card-list-body">
            <% @user_passwords.limit(5).each do |password| %>
              <div class="card card-task">
                <div class="progress">
                  <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="card-body">
                  <div class="card-title">
                    <a href="<%= password_path(password) %>">
                      <h6 data-filter-by="text"><%= password.name %></h6>
                    </a>
                    <span class="text-small">Last updated:
                      <%= password.created_at.strftime('%e %b %Y') %></span>
                  </div>
                  <div class="card-meta">
                    <div class="d-flex align-items-center">
                      <%= link_to 'View', password_path(password), class: "btn btn-primary" %>
                    </div>
                    <div class="dropdown card-options">
                      <button class="btn-options" type="button" id="task-dropdown-button-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Options
                      </button>
                      <div class="dropdown-menu dropdown-menu-right">
                        <%= link_to 'Show', password, class: "dropdown-item" %>
                        <%= link_to 'Edit', edit_password_path(password), class: "dropdown-item" %>
                        <div class="dropdown-divider"></div>
                        <%= link_to 'Destroy', password, method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown-item text-danger" %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>



              <ul class="nav nav-tabs nav-fill">

                <li class="nav-item">
                  <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Clients</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Teams</a>
                </li>
              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

                  <div class="card-list">
                    <div class="card-list-head">
                      <h6>Clients</h6>
                      <div class="dropdown">

                        <button class="btn-options" type="button" id="cardlist-dropdown-button-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="material-icons">Add New</i>
                        </button>

                        <div class="dropdown-menu dropdown-menu-right">

                          <a class="dropdown-item text-danger" href="nav-side-project.html#">Archive</a>
                        </div>
                      </div>
                    </div>
                    <div class="card-list-body">

                      <% @clients.each do |client| %>
                        <div class="card card-task">
                          <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <div class="card-body">
                            <div class="card-title">
                              <a href="nav-side-project.html#">
                                <h6 data-filter-by="text"><%= client.name %></h6>
                              </a>
                              <span class="text-small">Updated
                                <%= client.updated_at %></span>
                            </div>
                            <div class="card-meta">
                              <ul class="avatars">
                                <li>
                                  <a href="nav-side-project.html#" data-toggle="tooltip" title="Kenny">
                                    <img alt="Kenny Tran" class="avatar" src="<%= asset_path('avatar-male-6.jpg') %>">
                                  </a>
                                </li>
                              </ul>
                              <div class="d-flex align-items-center">
                                <%= link_to 'View', tenant_client_path(id: client, tenant_id: client.tenant), class: "btn btn-primary" %>
                              </div>
                              <div class="dropdown card-options">
                                <button class="btn-options" type="button" id="task-dropdown-button-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Options
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                  <%= link_to 'Edit', edit_tenant_client_path(@tenant, client), class: 'dropdown-item' %>

                                  <%= link_to 'Destroy', tenant_client_path(@tenant, client), method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown-item text-danger" %>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      <% end %>

                    </div>
                  </div>

                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                  <div class="card-list">
                    <div class="card-list-head">
                      <h6>Teams</h6>
                      <div class="dropdown">

                        <button class="btn-options" type="button" id="cardlist-dropdown-button-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="material-icons">Add New</i>
                        </button>

                        <div class="dropdown-menu dropdown-menu-right">

                          <a class="dropdown-item text-danger" href="nav-side-project.html#">Archive</a>
                        </div>
                      </div>
                    </div>
                    <% @teams.each do |client| %>
                      <div class="card card-task">
                        <div class="progress">
                          <div class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="card-body">
                          <div class="card-title">
                            <a href="nav-side-project.html#">
                              <h6 data-filter-by="text"><%= client.name %></h6>
                            </a>
                            <span class="text-small">Updated
                              <%= client.updated_at %></span>
                          </div>
                          <div class="card-meta">
                            <ul class="avatars">
                              <li>
                                <a href="nav-side-project.html#" data-toggle="tooltip" title="Kenny">
                                  <img alt="Kenny Tran" class="avatar" src="<%= asset_path('avatar-male-6.jpg') %>">
                                </a>
                              </li>
                            </ul>
                            <div class="d-flex align-items-center">
                              <%= link_to 'View', tenant_client_path(id: client, tenant_id: client.tenant), class: "btn btn-primary" %>
                            </div>
                            <div class="dropdown card-options">
                              <button class="btn-options" type="button" id="task-dropdown-button-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Options
                              </button>
                              <div class="dropdown-menu dropdown-menu-right">
                                <%= link_to 'Edit', edit_tenant_client_path(@tenant, client), class: 'dropdown-item' %>

                                <%= link_to 'Destroy', tenant_client_path(@tenant, client), method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown-item text-danger" %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </div>

                </div>



              </div>
