<div class="container text-center my-5 p-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
  <img class="mb-4" alt="Pipeline" src="<%= asset_path('logo.svg') %>"  width="72" height="72" />
    <h1 class="h3 mb-3 font-weight-normal"><%= t('.sign_in') %></h1>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <label for="inputEmail" class="sr-only">Email address</label>
      <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control', placeholder: 'Email' %>

      <label for="inputPassword" class="sr-only">Password</label>
      <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control', placeholder: 'Password' %>

      <% if devise_mapping.rememberable? %>
        <div class="form-group form-check m-3">
          <%= f.check_box :remember_me, class: 'form-check-input' %>
          <%= f.label :remember_me, class: 'form-check-label' do %>
            <%= resource.class.human_attribute_name('remember_me') %>
          <% end %>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.submit  t('.sign_in'), class: 'btn btn-primary' %>
      </div>
    <p class="mt-5 mb-3 text-muted"><%= render 'devise/shared/links' %></p>
  <% end %>
</div>



  </div>

</div>
