<div class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top">
  <a class="navbar-brand" href="<%= root_url %>">
    <img alt="Pipeline" src="<%= asset_path('logo.svg') %>"/>
  </a>
  <h4 class="text-white"><%= current_tenant.name %></h4>
  <div>
    <div class="dropdown my-2 ">
      <button class="px-3 btn btn-primary btn-block dropdown-toggle" type="button" id="newContentButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Add New
      </button>
      <div class="dropdown-menu" aria-labelledby="newContentButton">
        <%= link_to "Password", new_password_path, class: 'dropdown-item' %>
        <%= link_to "Team Member", new_member_path, class: 'dropdown-item' %>
        <%= link_to "Client", "/", class: 'dropdown-item' %>
        <%= link_to "Project", "/", class: 'dropdown-item' %>
      </div>
    </div>
  </div>
  <div class="d-flex align-items-center">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="d-block d-lg-none ml-2">
      <div class="dropdown">
        <a href="nav-side-project.html#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img alt="Image" src="assets/img/avatar-male-4.jpg" class="avatar"/>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <%= render '/layouts/user_navigation' %>
        </div>
      </div>
    </div>
  </div>
  <div class="collapse navbar-collapse flex-column" id="navbar-collapse">
    <ul class="navbar-nav d-lg-block">
      <li class="nav-item">

        <%= link_to 'Dashboard', dashboard_path, class: 'nav-link' %>
      </li>

<% if current_user.is_admin? %>
      <li class="nav-item">

        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-3">Admin Menu</a>
        <div id="submenu-3" class="collapse">
          <ul class="nav nav-small flex-column">

            <li class="nav-item">
              <%= link_to 'Dashboard', admin_path, class: 'nav-link' %>
            </li>

            <li class="nav-item">
              <%= link_to 'Users', admin_users_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'New Blog Post', new_blog_path, class: 'nav-link' %>
            </li>

          </ul>
        </div>

      </li>
<% end %>


<% if current_user.is_admin? || current_user.is_manager? %>
      <li class="nav-item">

        <a class="nav-link" href="nav-side-project.html#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-2">Manager Menu</a>
        <div id="submenu-2" class="collapse">
          <ul class="nav nav-small flex-column">
            <li class="nav-item">
              <%= link_to 'Team Members', tenant_teams_path(@tenant.id), class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="pages-utility.html">Manage Passwords</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="pages-utility.html">Activity</a>
            </li>
            <li class="nav-item">
              <%= link_to 'Manage Organisation', edit_tenant_path(@tenant.id), class: 'nav-link' %>

            </li>
          </ul>
        </div>

      </li>
      <% end %>

      <li class="nav-item">
        <%= link_to "Passwords", passwords_path, class: 'nav-link'%>
      </li>
      <li class="nav-item">
        <%= link_to 'Teams', tenant_teams_path(@tenant.id), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Clients', tenant_teams_path(@tenant.id), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%# link_to 'My Account', @tenant.id, class: "nav-link" %>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="<%= faqs_path %>">FAQ</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="<%= blogs_path %>">Blog</a>
      </li>

      <li class="nav-item">
        <%= link_to('Logout', destroy_user_session_path, class: 'nav-link', title: 'Logout', :method => :delete) %>

      </li>

    </ul>
    <!-- <hr>
    <div class="d-none d-lg-block w-100">
      <span class="text-small text-muted">Recent Passwords</span>
      <ul class="nav nav-small flex-column mt-2">
        <li class="nav-item">
          <a href="nav-side-kanban-board.html" class="nav-link">Password 1</a>
          <a href="nav-side-kanban-board.html" class="nav-link">Password 2</a>
          <a href="nav-side-kanban-board.html" class="nav-link">Password 3</a>
        </li>
      </ul>
      <hr>
    </div> -->

  </div>
  <div class="d-none d-lg-block">
    <div class="dropup">
      <a href="nav-side-project.html#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img alt="Image" src="<%= asset_path('avatar-male-4.jpg') %>" class="avatar"/>
      </a>
      <div class="dropdown-menu">
        <a href="nav-side-user.html" class="dropdown-item">Profile</a>
        <a href="utility-account-settings.html" class="dropdown-item">Account Settings</a>
        <a href="nav-side-project.html#" class="dropdown-item">Log Out</a>
      </div>
    </div>
  </div>

  <ul class="nav navbar-right col-md-4">
    <% if current_user %>

      <li class="col-md-3 logout"></li>

    <% else %>
      <li class="col-md-4 pull-right">
        <%= link_to('Sign In', new_user_session_path, class: 'btn btn-primary', title: 'Sign In') %>
      </li>

    <% end %>
  </ul>
